<% if @question.errors.any? %>
    <div id="error_planation" >
        <div class ="alert alert-danger">
            エラーがあります。
        </div>
        <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
            <% end %>
        </ul>
<% end %>