@import "bootstrap/scss/bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ナビゲーションバー

.navbar-brand {
  font-size: 30px;	
  padding-left: 100px;
  padding-right: 60px;	
  }

.nav-item {
font-size: 18px;
padding-left: 8px;
padding-right: 8px;
}



//ページネーション

.pagination {
  margin-top: 80px;
}


.aws-table-head {
  background-color: #5D99FF;
}

.container h2 {
  padding: 20px 0px 10px 0px ;
  font-size: 30px;
}

.movie-title {
  font-size:20px;
}

main {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 710px;
  display: block;
  box-sizing: border-box;
}

//質問集
.container h1{
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 30px;
}

.question-container {
  padding: 30px 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #333333;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
  font-size: 22px;
  transition: 0.5s;
}

.question-container:hover {
transition: 0.5s;
transform: translateY(-5px);
border: 2px solid #5C99FF;
}

.rowtitle {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.info-text-right {
  font-size: 18px;
  color: black;
  padding-right: 15px;
  padding-left: 15px;
  color: #BBBBBB;
}
.questiontitle{
  color: black;
  padding-right: 15px;
  padding-left: 15px;
}

//質問詳細
.title h3{
 font-size: 20px; 
}
.detail h3{
  font-size: 20px; 
 }

 //LINE@
#line-contents h2 {
  padding: 30px 0 10px 0;
}

#line-contents p {
  line-height: 3em;
}

 //フッター
 .footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.footer a {
  padding: 0 20px;
  font-size: 20px;	
}

body { 
  padding-top: 70px; 
  padding-bottom: 70px; 
}

//テキスト教材ページ
.texts-wrapper{
  text-align: center;
}

.contents-title{
  padding: 40px 0px 10px 0px;
  font-size: 3em;
}

@media screen and (min-width: 0px){
  .text-contents{
    box-sizing: border-box;
    display: block; 
  }

  .texts-content {
    width: 90%;
    margin: 10% 5%;
    background-color: #f7f7f7;
    box-shadow: 0px 1px #c7d4e6;
    border: 3px solid #c7d4e6;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
    height: 680px;
    }

    .text-content a{
      text-decoration: none;
      display: block;
      height: 100%;
    }

    .texts-content img {
      width: 100%;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      max-height: 394px;
  }

    .text-content p{
      margin-bottom: 30px;
      left: 24px;
      bottom: 0px;
      position: absolute;
      font-size: 28px !important;
      color: #444444;
    }

    .texts-content h3 {
      text-align: left;
      padding: 0 40px;
      margin-top: 44px;
      font-size: 32px;
      color: #444444;
  }
  }






