@import "bootstrap/scss/bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// ナビゲーションバー

.navbar-brand {
font-size: 30px;	
padding-left: 225px;	
padding-right: 60px;	
}

.nav-item {
font-size: 18px;
padding-left: 8px;
padding-right: 8px;
}

//ページネーション

.pagination {
  margin-top: 80px;
}


.aws-table-head {
  background-color: #5D99FF;
}

.container h2 {
  padding: 20px 0px 10px 0px ;
  font-size: 30px;
}

.movie-title {
  font-size:20px;
}

main {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 710px;
  display: block;
  box-sizing: border-box;
}

#questions .question-container {
  padding: 30px 0;
}

#questions a {
  text-decoration: none;
  display: block;
  color: #333333;
  border: solid 2px #505050;
  border-radius: 10px;
  transition: .4s;
}

#questions a .title-container {
  word-wrap: normal;
}

#questions a .title {
  font-size: 22px;
  line-height: 2;
}

#questions .question {
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}