@import "bootstrap/scss/bootstrap";

.navbar-brand {
font-size: 30px;
padding-left: 225px;
padding-right: 60px;
}

.nav-item {
font-size: 18px;
padding-left: 8px;
padding-right: 8px;

}

body { padding-top: 70px; }
