<div class="texts-wrapper">
    <div class="contents-title">
        <h2>テキスト教材</h2>
    </div>
</div>

<div class="row">
    <% @texts.each do |text| %>
        <div class="d-flex col-lg-4 p-4">
            <a href="/texts/<%= text.id %>" class="card">
                <img class="card-img-top" src="">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= text.title %>
                    </h5>
                    <p class="card-text">
                        <%= text.genre %>
                    </p>
                </div>
            </a>
        </div>
  <% end %>
</div>