<div class="texts-wrapper">
    <div class="contents-title">
        <h2>テキスト教材</h2>
    </div>

        <div class="texts-contents" media="screen and (min-width: 0px)">
            <div class="texts-content">
                <%= @texts.each do |text| %>
                        <img src= <%=  %>>
                            <h3>text.title</h3>
                        <p><%= 【text.genre】 %></p>
                    </a>      
                <% end %>
        </div>

</div>