<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />

<div class="form-control-range">
<form class="mb-3 search-form mx-auto">
  <i class="fa fa-search search-icon" title="Search"></i>
  <input type="text" id="search-text" class="search-form search-text"
         placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
</form>
</div>

<div class="texts-wrapper">
    <div class="contents-title">
        <h2>テキスト教材</h2>
    </div>
</div>

<div class="row">
    <% @texts.each do |text| %>
        <div class="d-flex col-lg-4 p-4" id="text">
            <a href="/texts/<%= text.id %>" class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= text.title %>
                    </h5>
                    <p class="card-text">
                        <%= text.genre %>
                    </p>
                </div>
            </a>
        </div>
  <% end %>
</div>
