<div class="fixed-bottom <%= background_color_class %>">    
    <footer class="footer mt-auto py-3 text-center">
            <div class="container">
                <a class="text-white" target="_blank" href="http://utina.yoshitokamizato.com/">ブログ</a>
                <a class="text-white" target="_blank" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">Youtube</a>
            </div>
        </div>
    </footer>
</div>